<header>
  <div id="main-header">
    <div class="logo">
      <div class="logo-img">
        <img src="./assets/logo.png" alt="Logo">
      </div>
      <div class="logo-text">
        <div class="logo-main-text">flight</div>
        <span class="logo-subText">
          search engine
        </span>
      </div>

    </div>
  </div>
</header>
<div class="main-grid-layout">
  <!-- Serach form -->
  <section id="search-form-section">
    <aside>
      <div id="filter-form">
        <span class="oneWay">one way</span>
        <span class="return">return</span>
        <form>
          <input name="inputOrigin" [(ngModel)]="inputOrigin" type="text" placeholder="Enter Origin">
          <br/>
          <input name="inputDestination" [(ngModel)]="inputDestination" type="text" placeholder="Enter Destination">
          <br/>
          <input type="date" placeholder="Departure Date">
          <br/>
          <input type="number" placeholder="Passengers">
          <br/>
          <button id="searchButton" (click)="search()">Search</button>
        </form>
      </div>
    </aside>
  </section>
  <section id="tecketSection">
    <main>
      <div class="bread-crumb">
        <span>
          <strong>{{inputOrigin | uppercase }}</strong>
        </span>
        >
        <span id="User-Destination">
          <strong>{{inputDestination | uppercase}}</strong>
        </span>

        <span class="depart-return">
          <div class="depart">
            Depart: 1 June 2015
          </div>
          <div class="return">
            Return: 1 April 2018
          </div>
        </span>
      </div>
      <ul id="main-ticket">
        <li *ngFor="let ticket of tickets | paginate: { itemsPerPage: 4, currentPage: p }">
          <div class="ticket">
            <div id="price">
              RS {{ticket.price}}
            </div>
            <div class="ticket-grid-container">
              <div class="destinationDetails">
                <ul id="going-ticket">
                  <li class="airlineCode">
                    {{ticket.airlineCode}}
                  </li>
                  <li>
                    <span class="origin-state">
                      <!-- {{ticket.origin}} -->
                      {{originState}}
                    </span>
                    >
                    <span class="destination-state">
                      <!-- {{ticket.destination}} -->
                      {{destinationState}}
                    </span>
                  </li>
                  <li class="departTime">
                    Depart : {{ticket.departureTime}}
                    <span class="depart-time"></span>
                  </li>
                  <li class="arriveTime">
                    Arrive : {{ticket.arrivalTime}}
                    <span id="arive-time"></span>
                  </li>
                </ul>
              </div>
              <div class="returnDetails">
                <ul id="return-ticket">
                  <li class="flight-numner">
                    {{ticket.airlineCode}}
                  </li>
                  <li>
                    <span class="going-state">
                      <!-- {{ticket.destination}} -->
                      {{destinationState}}
                    </span>
                    >
                    <span class="destination-state">
                      <!-- {{ticket.origin}} -->
                      {{originState}}
                    </span>
                  </li>
                  <li class="departTime">
                    Depart : {{ticket.departureTime}}
                    <span id="depart-time"></span>
                  </li>
                  <li class="arriveTime">
                    Arrive : {{ticket.arrivalTime}}
                    <span id="arive-time"></span>
                  </li>
                </ul>
              </div>
              <div id="bookFlightparrent">
                <div id="bookFlight">
                  Book This Flight
                </div>
              </div>
            </div>
          </div>
        </li>

      </ul>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </main>
  </section>
</div>



<router-outlet></router-outlet>
