$primary-button-color: #fb4500;
//Default Styles
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
  }
}

.ngx-pagination{
  .current{
    background-color: $primary-button-color !important;
  }
} 
header {
  background-color: #000000d1;
  ;
  color: #fff;
}

#main-header {
  .logo {
    display: grid;
    grid-template-columns: 12% 40% 10%;
    .logo-img {
      text-align: right;
      img {
        height: 70px;
        width: 70px;
        display: inline-block;
      }
    }
    .logo-text {
      text-transform: uppercase;
      .logo-main-text {
        font-size: 2.2em;
        margin-top: 10px;
      }
      .logo-subText {
        font-size: 1em;
      }
    }
  }
} // Bread crumbs
.bread-crumb {
  margin-bottom: 20px;
  padding-left: 24px;
  padding-bottom: 10px;
  box-shadow: 0px 1px 1px -1px grey;
  .depart-return {
    float: right;
    font-size: 10px;
    margin-right: 4px;
  }
}

//   search-form-section
#search-form-section {
  background: linear-gradient(to bottom right, #58403b, #58403b);
  padding-top: 50px;
  #filter-form {
    text-align: center;
    .oneWay {
      color: #fff;
      margin-bottom: 10px;
      display: inline-block;
      background-color: #000;
      padding: 8px 27px;
      width: 65px;
      border-radius: 4px;
      text-transform: capitalize;
      &:hover {
        cursor: pointer;
        background-color: #212020;
      }
    }
    .return {
      color: #fff;
      margin-bottom: 10px;
      display: inline-block;
      border: 1px solid #986f5f;
      padding: 8px 27px;
      width: 58px;
      border-radius: 4px;
      text-transform: capitalize;
      &:hover {
        cursor: pointer;
        background-color: #bf89742e;
      }
    }
    form {
      input[type] {
        width: 65%;
        margin-bottom: 20px;
        border: 0;
        border-radius: 4px;
        padding: 5px 10px;
      }
      #searchButton {
        background: none;
        border: none;
        background-color: $primary-button-color;
        width: 35%;
        color: #fff;
        text-transform: uppercase;
        padding: 5px;
        border-radius: 4px;
        margin-bottom: 20px;
        &:hover {
          cursor: pointer;
          color: #ffffffbd;
        }
      }
    }
  }
} // main tickets
#tecketSection {
  padding-top: 50px;
  #main-ticket {
    li {
      margin-bottom: 30px;
      .ticket {
        box-shadow: 0px 0px 8px 2px #00000014;
        margin-bottom: 10px;
        padding: 30px;
        -webkit-transition: width 2s;
        transition: background-color 0.5s;
        &:hover {
          background-color: #e0dbdb7d;
        }
        #price {
          font-size: 22px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        .ticket-grid-container {
          display: grid;
          grid-template-columns: 30% 30% 30%;
          grid-column-gap: 12px;
          ul {
            li {
              margin-bottom: 10px;
            }
          }
          #bookFlight {
            background-color: $primary-button-color;
            color: #fff;
            width: 130px;
            padding: 5px 10px;
            border-radius: 4px;
            margin: 12px auto;
            text-transform: uppercase;
            &:hover {
              cursor: pointer;
              color: #ffffffbd;
            }
          }
          .destinationDetails,
          .returnDetails {
            .origin-state,
            .destination-state,.going-state {
              font-weight: 600;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

//All media Queries
// main grid
@media screen and (min-width:768px) {
  .main-grid-layout {
    display: grid;
    grid-template-columns: 30% 60%;
    grid-column-gap: 30px;
  }
  #main-header {
    .logo {
      grid-template-columns: 10% 38% 5%;
    }
  }
}

//Main Responsiveness
@media screen and (min-width:320px) and ( max-width:767px) {
  #tecketSection {
    #main-ticket {
      li {
        .ticket {
          margin: 10px 6%;
          padding: 22px 3px;
          #price {
            text-align: center;
          }
          .ticket-grid-container {
            display: block;
            text-align: center;
            .destinationDetails,
            .returnDetails {
              display: inline-block;
              text-align: left;
            }
            .destinationDetails {
              margin-right: 46px;
            }
            #bookFlightparrent {
              #bookFlight {
                background-color: $primary-button-color;
                color: #fff;
                width: 130px;
                padding: 5px 10px;
                border-radius: 4px;
                margin: 12px auto;
                text-transform: uppercase;
                &:hover {
                  cursor: pointer;
                  color: #ffffffbd;
                }
              }
            }
          }
        }
      }
    }
  }
  #main-header {
    .logo {
      grid-template-columns: 40% 38% 5%;
    }
  }
  .bread-crumb {
    .depart-return {
      margin-right: 12%;
    }
  }
}

@media screen and (max-width:768px) {
  #tecketSection {
    #main-ticket {
      li {
        .ticket {
          .ticket-grid-container {
            #bookFlight {
              text-align: center;
              width: 56px;
            }
          }
        }
      }
    }
  }
  #search-form-section {
    #filter-form {
      .return,
      .oneWay {
        padding: 8px 24px;
        width: 65px;
        padding-left: 20px;
      }
    }
  }
}
